<form action="/new" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Напишите тему</label>
   <input type="text" name="topic">
  </div>
  <div class="mb-3">
    <textarea rows="10" cols="45" name="text" placeholder="Это ваш личный блокнот" neme="text"></textarea>
  </div>
  <div class="save">
  <button type="submit" class="btn btn-primary">Сохранить</button>
  <div class="newNotepad-saveNotepad"> <a href="/recordings">Показать сохраненные записи</a></div>
  </div>
</form>